:root {
  --main-text-color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
