/* Hero section */

/* 1st half */

.hero-text-half-container {
  padding: 0;
  width: 447px;
  margin-right: 160px;
}

.title-container {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.page-title {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.21em;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-left: 12px;

  /* Positioning */
  position: relative;
}

.page-title::before {
  content: "";
  width: 1px;
  height: 153px;
  background-color: #f3f3f3;

  /* Positioning */
  position: absolute;
  top: 0;
  left: -12px;
}

.page-subtitle {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.22em;
  margin-bottom: 48px;
}

.page-subtitle:first-letter {
  text-transform: uppercase;
}

.hero-accent {
  color: rgba(188, 26, 26, 0.71);
  font-weight: 900;
}

.hero-btn {
  color: #f3f3f3;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.23em;
  border: none;
  border-radius: 16px;
  background: rgba(188, 26, 26, 0.2);

  /* Box model */
  display: flex;
  width: 302px;
  height: 77px;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.hero-text-half-numbers-container {
  display: flex;
  max-width: 371px;
  gap: 24px;
  align-items: center;
}

.hero-text-half-elem {
  display: flex;
  padding: 20px 0;
  gap: 12px;
  align-items: center;
}

.hero-text-half-elem.first {
  flex-shrink: 0;
  position: relative;
}

.hero-text-half-elem.first::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 1px;
  height: 78px;
  background-color: #f3f3f3;
}

/* 2nd half */

.hero-image {
  position: absolute;
  top: 72px;
  right: 180px;
  width: 305px;
  height: 535px;

  transition: 500ms ease;
}

.hero-list {
  text-transform: uppercase;
}

.title-el {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.21em;
}

.main-text {
}

/* social-media */

.contact-list-el:not(:last-child) {
  margin-bottom: 32px;
}

.sm-icon {
  fill: #f3f3f3;
}
